@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
.ff-source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    font-family: 'Source Sans Pro', sans-serif;
}
.bg-black {
    background-color: #000 !important;
}
.bg-black-subtle {
    background-color: #121212 !important;
}
.img-circle {
    border-radius: 50%;
}